# Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
ENV/

# MATLAB & Simulink Temporary Files
*.asv
slprj/
*.autosave
*.bak

# OS Temporary Files
.DS_Store
Thumbs.db
